<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title"> Barra de progreso </h4>

        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" 
              role="progressbar"
              [attr.ariaValuenow] = "procentaje1"              
              aria-valuemin="0"
              aria-valuemax="100" 
              [style.width]="procentaje1 + '%'"></div>
        </div>

        <br/>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" 
               role="progressbar"
               [attr.ariaValuenow]="procentaje2"
               aria-valuemin="0" 
               aria-valuemax="100" 
               [style.width]="procentaje2 + '%'"></div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <app-incrementador
          leyenda ="Progress Azul"
          [procentaje]="procentaje1"
          (cambnioValor)=" this.procentaje1 = $event">
        </app-incrementador>     

      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        
        <app-incrementador 
          leyenda ="Progress verde" 
          [procentaje]="procentaje2"
          (cambnioValor)=" this.procentaje2 = $event">
        </app-incrementador>

      </div>
    </div>
  </div>

</div>